{% extends "base.html" %}
{% load static %}
<!--
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ blog_name|title }}</title>
</head>
<body>
    <h1>{{ blog_name|title }} blog post</h1>
    {% if blog_text %}
        <h2>{{ blog_text }}</h2>
    {% else %}
        <h2>Blog is in progress....</h2>
    {% endif %}
</body>
</html>
-->

{% block page_title %}
    {{ post.title }}
{% endblock %}


{% block body_content %}
<!--    {% include "blogs/includes/header.html" %}-->

    <section>
        <h2>{{ post.title }}</h2>
        <article>
            <img src="{% static 'blogs/images/'|add:post.image %}" alt="{{ post.title }}" width="300" />
            <address>By <a href="mailto: << post.author.email_addr }}">{{ post.author }}</a></address>
            <div>Posted on <time>{{ post.date|date:"d M Y" }}</time></div>
        </article>
    </section>

    <main>
        <p>{{ post.content|linebreaks }}</p>
    </main>

<!--    <h1>{{ blog_name|title }} blog post</h1>-->
<!--    {% if blog_text %}-->
<!--        <h2>{{ blog_text }}</h2>-->
<!--    {% else %}-->
<!--        <h2>Blog is in progress....</h2>-->
<!--    {% endif %}-->
<!-- interpolation syntax - {{}} -->
{% endblock %}
